doctype html
html

  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='description of your site')
    meta(name='author', content= "author of the site")
    //- uncomment if your site is responsive!
    //- meta(name="viewport" content="width=device-width, initial-scale=1")
    title= _path
    != css('/')

  body
    include templates/header/index.jade
    
    h2= post.title
    //- h4 by #{post.author}
    block content
    a(href='/') &laquo; Back 

    != js('/')
