extends layout

block content
  include templates/header/index.jade
  
  :marked
    To find out a little bit about me click [here](about)
    
    To contact me click [here](contact)
    
  include templates/posts/index.jade
  

  
